body {
    background-color: purple;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item {
    border: 1px solid black;
    display: flex;
    align-items: center;
}